<h1>New poll</h1>

<form action="/create" method="post">
	<label>Poll question</label>
	<textarea rows="5" cols="50" name="question"></textarea>
	
	<label>Option A</label>
	<input type="text" name="options[0]"/>
	
	<label>Option B</label>
	<input type="text" name="options[1]"/>
	
	<label>Option C</label>
	<input type="text" name="options[2]"/>
	
	<label>Option D</label>
	<input type="text" name="options[3]"/>
	
	<input type="submit" value="create!"/>
</form>