<html>
	<head>
  	<title>{{title}} as {{username}}</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="/flot/jquery.flot.min.js"></script>
 		<!--[if IE]><script language="javascript" type="text/javascript" src="/flot/excanvas.pack.js"></script><![endif]-->
		
		<style>
			body {
				font-family: Arial, sans-serif;
				font-size: 12px;
			}
			h2 {
				margin: 7px 0;
			}
			h3 {
				margin: 5px 0;
			}
			form textarea, form input[type=text] {
				display: block;
				margin: 5px 0;
			}
			label.for_radio {
				display: inline;
			}
			
			.tickLabel {
				font-weight: bold;
				font-size: 16px;
			}
		
		</style>
	</head>
	<body>
		{{{yield}}}
	</body>
</html>